.comparison {
    display: flex;
    height: 600px;
    justify-content: center;
}

.comparison .col  {
    flex: 1;
    padding: 1em;
}

.comparison .col .aws-service {
    margin-bottom: 50%;
}

.comparison .col .aws-service img {
    width: 80px;
    height: auto;
}

.diagram {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.diagram img {
    position: absolute;
    max-width: 800px !important;
    max-height: 550px !important;
}

.diagram img:not(:first-child) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diagram img.overlay {
    opacity: .7;
}
