.comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.comparison .col  {
    display: flex;
    flex-direction: column;
    gap: 100px;
    flex: 1;
    height: 400px;
    padding: 1em;
}

.comparison .col .aws-service img {
    width: 80px;
    height: auto;
}

.diagram {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.diagram img {
    position: absolute;
    max-width: 800px !important;
    max-height: 550px !important;
}

.diagram img:not(:first-child) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diagram img.overlay {
    opacity: .7;
}

.bio {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
}

.bio img {
    max-height: 300px !important;
    max-width: 500px !important;
    border-radius: 25px;
}

.bio-row-start {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    gap: 30px;
}

.bio-row-end {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    gap: 30px;
}

.bio-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-style: italic;
}

.bio-row-start .bio-text {
    align-items: flex-start;
}

.bio-row-end .bio-text {
    align-items: flex-end;
}

.bio-text img {
    max-height: 50px !important;
    max-width: 100px !important;
}
