extends ../layout/layout-ec2

block vars

block title

    | Przygotowanie instancji

block appstream

    | Session context

block ec2

    | User data

block notes
    li AS: Po połączeniu
    li AS: Na gueście
    li EC2: Po starcie (fajnie)
    li EC2: System - równolegle
