extends ../layout/layout

block vars

block title

    | EC2

block content

    table
        thead  
            th 
                include ../../img/appstream.svg
                | &nbsp;AppStream 
            th 
                include ../../img/ec2.svg
                | &nbsp;EC2 
        tr.fragment 
            td 
                | AppStream Image Builder
            td 
                | AMI from an instance
        tr.fragment 
            td 
                | Session script + Session context 
            td 
                | User data 
        tr.fragment 
            td
                | Single app mode
            td 
                | Winlogon overwrite
