extends ../layout/layout-ec2

block vars

block title

    | Dysk

block appstream

    | Działa

block ec2

    | Wymaga nawodnienia

block notes
    li więc...
    li Instancja długo wstaje
    li Trzeba wymyślić jak zarządzać
