extends ../layout/layout-ec2

block vars

block title

    | Obraz instancji

block appstream

    | AppStream Image

block ec2

    | AMI

block notes
    li Budowanie od nowa
    li AS: Ręcznie
    li Oskryptowanie
