extends ../layout/layout

block vars

block title

    | Zamawianie instancji

block content

    .comparison
        div.col
            div.aws-service
                img(src="img/appstream.svg")
                br
                | &nbsp;AppStream
            div.fragment
                | "Poproszę instancję!"
        div.col
            div.aws-service
                img(src="img/asg.svg")
                br
                | &nbsp;Auto Scaling
            div.fragment
                | desired-capacity=5
