extends ../layout/layout-asg

block vars

block title

    | Zamawianie instancji

block appstream

    | "Poproszę instancję!"

block autoscaling

    | desired-capacity=5

block notes
    li AS: Inkrementacja
    li ASG: Desired capacity
