extends ../layout/layout-asg

block vars

block title

    | Otrzymywanie instancji

block appstream

    | "Oto twoja instancja."

block autoscaling

    | "Postaram się."

block notes
    li AS: Synchronicznie - link
    li ASG: Asynchronicznie - nie wiadomo czy i kiedy
    li ASG: Asynchronicznie - trzeba się wywiedzieć
    li Będzie potrzebna apka...

