extends ../layout/layout

block vars

block title

    | ASG vs AppStream

block content

    ul(style="color:red;")
        li
            | Desired capacity
        li
            | Asynchroniczność
