extends ../layout/layout

block vars

block content

    div.bio
        div.bio-row-start
            img(src="img/pawel.jpg")
            div.bio-text
                | Paweł Kamiński
                br
                img(src="img/iteratec.png")
        div.bio-row-end
            div.bio-text
                | Jakub Dymon
                br
                img(src="img/iteratec.png")
            img(src="img/kuba.jpg")
