extends ../layout/layout-centered

block vars

block content

    img(src="img/captain.png" style="max-height: 650px;max-width: 800px;")

block notes
    li Decyzja architektoniczna
    li Trudniej skalować
    li Cache -> szybciej
    li Sync na początku
    li Drugie wyzwanie - asynchroniczność...
