extends ../layout/layout-centered

block vars

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/events unchanged.svg")
        img(src="img/events orders.svg")
        img(src="img/assignments.svg")
        img(src="img/eventlog.svg")
        img(src="img/events.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/eventlog2.svg")
