extends ../layout/layout

block vars

block title

    | Punkt wyjścia

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/long https.svg")
        img(src="img/appstream.svg")
