extends ../layout/layout

block vars

block title

    | Punkt wyjścia

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/long https.svg")
        img(src="img/appstream.svg")

block notes
    li Uprośćmy Pawła
    li Skalowalny backend
    li Prosi o instancję - dostaje linka
    li Klient <- inny projekt - użyjcie taki feature...
