extends ../layout/layout

block vars

block title

    | Fleet mgmt

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/long https.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/fleetmgmt.svg")
