extends ../layout/layout-centered

block vars

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/events.svg")
        img(src="img/events unchanged.svg")
        img(src="img/eventlog.svg")
        img(src="img/eventlog2.svg")
        img(src="img/url.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/timeout.svg")
        img(src="img/events orders.svg")

block notes
    li dorzucamy ts
    li ts obserwuje eventy i zakłada crony
    li crony mogłyby ubijać, ale reguła arch.
    li cron grzecznie prosi o ubicie
