extends ../layout/layout-centered

block vars

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/orders.svg")
        img(src="img/orders unchanged.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/event bridge.svg")
        img(src="img/event bridge sqs.svg")
