extends ../layout/layout

block vars

block title

    | Fleet Mgmt

block content

    div.diagram
        img(src="img/backend.svg" style="max-height: 550px;max-width: 800px;")
        img(src="img/events.svg" style="max-height: 550px;max-width: 800px;")
        img(src="img/eventlog.svg" style="max-height: 550px;max-width: 800px;")
        img(src="img/eventlog2.svg" style="max-height: 550px;max-width: 800px;")
        img.overlay(src="img/overlay.svg" style="max-height: 550px;max-width: 800px;")
        img(src="img/url.svg" style="max-height: 550px;max-width: 800px;")
