extends ../layout/layout-centered

block vars

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/orders.svg")
        img(src="img/orders unchanged.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/event bridge.svg")
        img(src="img/event bridge sqs.svg")

block notes
    li ... wrzucaj na kolejkę
    li pos obserwuje 2 kolejki i podejmuje decyzje
    li działa dopóki działa
    li restart - brak info co przed
    li transakcyjna baza - nie mamy
    li zróbmy event log...
