extends ../layout/layout

block vars

block title

    | Fleet Mgmt

block content

    div.diagram
        img(src="img/backend.svg")
        img(src="img/events.svg")
        img(src="img/events unchanged.svg")
        img(src="img/eventlog.svg")
        img(src="img/eventlog2.svg")
        img(src="img/url.svg")
        img.overlay(src="img/overlay.svg")
        img(src="img/timeout.svg")
        img(src="img/events orders.svg")
