extends ../layout/layout-ec2

block vars

block title

    | Steam VR

block appstream

    | Działa

block ec2

    img(src="img/kritischer-fehler.png" style="max-height: 200px;max-width: 300px;")

block notes
    li Kontekst - co to steamvr
    li AS: Działa
    li EC2: Kritischer Fehler
    li Mało info
    li Długo szukaliśmy - wersje sterowników
    li Okazuje się...
