extends ../layout/layout-centered

block vars

block content

    img(src="img/escobar.png" style="max-height: 650px;max-width: 800px;")

block notes
    li ... bez sensu czekać z realizacją zamówień
    li podzielmy fleet-mgmt...
