extends ../layout/layout

block vars

block title

    | AppStream vs EC2

block content

    ul(style="color:red;")
        li
            | Image builder vs EC2 AMI
        li
            | Session script vs User data
        li
            | Single app mode vs winlogon overwrite
