extends ../layout/layout-centered

block vars

block content

    img(src="img/intro-kuba.jpeg" style="max-height: 650px;max-width: 800px;")

block notes
    li Hmm -> AI
    li Prezydent
    li Na początek: AS -> EC2
