extends ../layout/layout-centered

block vars

block content

    img(src="img/saper.png" style="max-height: 800px;max-width: 900px;")

block notes
    li Widok w przeglądarce
    li Szybkie wstawanie
