extends ../layout/layout

block vars

block title

    | Czy to była opłacalna inwestycja?

block content

    ul
        li.fragment
            | Cost tagi 
        li.fragment
            | Obsługa różnych streamingów - VRED Core, Pixel Streaming
        li.fragment
            | "Asg konfiguracje"
        li.fragment 
            | Always-ony
        li.fragment 
            | Regiony
