extends ../layout/layout

block vars

block title

    | Co zyskaliśmy?

block content

    ul
        li.fragment
            | G5
        li.fragment
            | Szybsze i sprawniejsze przygotowanie instancji
        li.fragment
            | Większa kontrola i elastyczność
