extends ../layout/layout

block vars

block title

    | Jakie wymagania (prawie) zrealizowaliśmy?

block content

    ul
        li.fragment
            | Tagowanie instancji
        li.fragment
            | Obsługa różnych streamingów - VRED Core, Pixel Streaming
        li.fragment
            | Różne konfiguracje instancji i auto-scalingu
        li.fragment 
            i
                | Always-ony
        li.fragment 
            | Regionalizacja
