extends ../layout/layout

block vars

block title

    | Co dalej?

block content

    ul
        li.fragment 
        | Cost tagi 
        li.fragment 
        | Obsługa różnych streamingów - VRED Core, Pixel Streaming
        li.fragment 
        | "Asg konfiguracje"
