doctype html
html(lang="en")
    head
        title iteratec 4developers
        meta(charset='utf-8')
        meta(name='author', content=' ')
        meta(name='description', content=' AR  ')
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

        link(href='reveal/reveal.css', rel='stylesheet')
        link(href='reveal/white.css', rel='stylesheet')
        link(href='css/base.css', rel='stylesheet')
        link(href='css/reveal-adj.css', rel='stylesheet')
        link(href='css/utils.css', rel='stylesheet')
        link(href='css/custom.css', rel='stylesheet')
        link(href='css/examples.css', rel='stylesheet')
        link(href='css/kuba.css', rel='stylesheet')
    <!-- Theme used for syntax highlighting of code -->
        link(rel="stylesheet" href="css/atom-light.css" id="highlight-theme")
        script(src="reveal/plugin/highlight/highlight.js")
        script(src="reveal/plugin/notes/notes.js")

-var counter = 0
body

    .reveal
        .slides
            include ./slides/title.pug
            include ./slides/styczen.pug
            include ./slides/iteratec.pug
            include ./slides/klient.pug
            include ./slides/projekt.pug
            include ./slides/marzec.pug
            include ./slides/rdp.pug
            include ./slides/appstream-img.pug
            include ./slides/appstream.pug
            include ./slides/poc.pug
            include ./slides/poc2.pug
            include ./slides/poc3.pug
            include ./slides/sukces-img.pug
            include ./slides/sukces.pug
            include ./slides/almostend.pug
            include ./slides/notend.pug
            include ./slides/g5.pug

            include ./slides/kuba/intro-1.pug
            include ./slides/kuba/intro-2.pug
            include ./slides/kuba/appstream-ec2-1.pug
            include ./slides/kuba/appstream-ec2-2.pug
            include ./slides/kuba/appstream-ec2-3.pug
            include ./slides/kuba/appstream-ec2-4.pug
            include ./slides/kuba/appstream-ec2-5.pug
            include ./slides/kuba/ebs-1.pug
            include ./slides/kuba/ebs-2.pug
            include ./slides/kuba/appstream-ec2-6.pug
            include ./slides/kuba/diagram-1.pug
            include ./slides/kuba/asg-1.pug
            include ./slides/kuba/asg-2.pug
            include ./slides/kuba/asg-3.pug
            include ./slides/kuba/asg-4.pug
            include ./slides/kuba/diagram-2.pug
            include ./slides/kuba/diagram-3.pug
            include ./slides/kuba/captain.pug
            include ./slides/kuba/escobar.pug
            include ./slides/kuba/diagram-4.pug
            include ./slides/kuba/diagram-5.pug
            include ./slides/kuba/diagram-6.pug
            include ./slides/kuba/diagram-7.pug
            include ./slides/kuba/diagram-8.pug
            include ./slides/kuba/diagram-9.pug
            include ./slides/kuba/diagram-10.pug
            include ./slides/kuba/diagram-11.pug

            include ./slides/appstore3.0.pug
            include ./slides/podsumowanie-my.pug
            include ./slides/podsumowanie-klient.pug
            include ./slides/podsumowanie-uzytkownicy
            include ./slides/podsumowanie-wy.pug
            include ./slides/kuba/bio-1.pug


    .frame.space(style="display:none")
        img(src="img/iteratec.png", alt="")
        h3
             | Czasem warto wyważać otwarte drzwi, czyli jak napisaliśmy sobie lepszą implementację produktu AWS  - Jakub Dymon,  Paweł Kamiński
        h3
         | 4Developers Wroclaw 2023
    script(src='reveal/reveal.js')


    script.
        Reveal.initialize({
             controls: false,
            // progress: true,
            history: true,
            center: false,
            showNotes: false,
            // center: true,
            // rollingLinks: true,
            // transition: "convex",
            // width: "90%",
            // height: 1.0,
            dependencies: [            ],
             plugins: [ RevealHighlight, RevealNotes ]
        });

    script.
        Reveal.on('slidechanged', () => {
             document.querySelector('.space').style="dispaly=block"
        });

      
