extends layout/layout.pug

block vars
  - var title = 'every after'
block title
    | Sukces

block content
    div.happily
    //img(src="img/" alt="schemat technologie" style="max-height: 800px;max-width: 800px;")


