extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | AWS AppStream 2.0

block content

    ul
        li.fragment.italics
            | 'Secure, reliable, and scalable application streaming and low-cost virtual desktop service'
        li.fragment
            | usługa AWS pozwalająca na uruchomienie komputera i dostęp do niego przez przeglądarkę
        li.fragment
            | Dostęp przez WWW realizowany jest przez NiceDCV
        li.fragment
            | Pay per Use (1.5 Euro / h)
        li.fragment
            | Klient:
            span.italics  'Możecie stworzyć male POC i sprawdzić czy to działa'
        li.fragment
            | iteratec:
            span.italics  'będzie Pan zadowolony'





