extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | historia jednego projektu

block content

        ul
            li.fragment
            | covid
            li.fragment
            | praca zdalna
            li.fragment
            | latwe laptop
            li.fragment
            | drogi sprzet
            | ciezki


