extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | historia jednego projektu

block content
        h3
          |  Zdalny Pulipt (RDP)

        ul
            li.fragment
              | latwe
            li.fragment
              | ale out of the box
            li.fragment
                | 1 uzyetkonik 1 komputer - nowy pracownik nowy komputer
            li.fragment
                | zasem komputer sie wylaczy
            li.fragment
                | rozwiazuje problem pracy a nie kooperacji


