extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | Styczeń 2020

block content

        ul
            li.fragment
                | Płonie Australia
            li.fragment
                | Wielka Brytania jeszcze (przez chwile) w UE
            li.fragment
                | COVID to chyba coś z chińskich nietoperzy
            li.fragment
                | Pracujemy z biur
            li.fragment
                | iteratec zaczyna projekt dla niemieckiej firmy z branży automotive


