extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | nowa nadzieja

block content
    h3
        |  AWS AppStream 2.0
    ul
        li.fragment.italics
            | 'Secure, reliable, and scalable application streaming and low-cost virtual desktop service'
        li.fragment
            | usługa AWS pozwalająca na uruchomienie komputera i dostęp do niego przez przeglądarkę
        li.fragment
            | Pay per Use (1.5 Euro / h)
        li.fragment
            | Klient:
            span.italics  'Możecie stworzyć male POC i sprawdzić czy to działa'
        li.fragment
            | iteratec:
            span.italics  'będzie Pan zadowolony'





