extends layout/layout.pug

block vars
  - var title = 'iteratec'





block content
    img(src="img/iteratec.png" alt="iteratec logo" style="max-height: 250px; margin-right: 40px")
    ul.imggrid(style="margin: 0 0 0 20px;")
        li.fragment
            | ~500 Pracowników w 7 miastach (Monachium, Dusseldorf, Frankfurt, Hamburg, Stuttgart, Wiedeń,
            strong  Wrocław
            | )
            //img(src="img/office.png" alt="office" style="max-height: 250px")
        li.fragment
            img(src="img/nasi-klienci.png" alt="nasi klienci" style="max-height: 250px")
        li.fragment
            img(src="img/ownership-model.png" alt="ownership-model" style="max-height: 250px; margin-left:20%")

        li.fragment
         img(src="img/stanowisko2.png" alt="stanowisko" style="max-height: 250px;margin-left:20%")

