extends layout/layout.pug

block vars
  - var title = 'iteratec'



block title

    | iteratec

block content

    ul
        li.fragment
            | ~500 Pracowników w 7 miastach (Monachium, Dusseldorf, Frankfurt, Hamburg, Stuttgart, Wiedeń,
            strong  Wrocław
            | )
        li.fragment
            | Projekty dla niemieckich klientów (od startupów po największe niemieckie firmy)
        li.fragment
            | Ciekawy model właścicielski
        li.fragment
            | Po wiecej informacji zapraszamy na stoisko
