extends layout/layout.pug

block vars
  - var title = 'klient'



block title

    |  Klient

block content



        ul
            li.fragment
             | Branża automotive
            li.fragment
              | Dział projektowy
            li.fragment
              | Praca na dedykowanych aplikacjach na platformach Unreal/VRED/Unity
            li.fragment
              | Wysokie wymagania sprzętowe
            li.fragment
              | kooperacja



