extends layout/layout.pug

block vars
  - var title = 'klient'



block title

    |  Klient

block content
    div.klient
        ul.imggrid(style="margin: 0 0 0 20px;")
                li.fragment
                 | Producent samochodów
                li.fragment
                  | Dział projektowy
                li.fragment
                  | Praca na dedykowanych aplikacjach na platformach Unreal/VRED/Unity
                li.fragment
                  | Wysokie wymagania sprzętowe
                li.fragment
                  | Kooperacja
                li.fragment
                  | Super support do AWS



