extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | historia jednego projektu - Klient

block content



        ul
            li.fragment
             | Branza automotive
            li.fragment
              | Dzial projektowy
            li.fragment
              | praca na dedykowanych aplikacjiach Unreal/VRED/Unity
            li.fragment
              | wysokie wymagania sprzetowe
            li.fragment
              | kooperacja



