extends layout/layout.pug

block vars
  - var title = 'marzec2020'



block title

    | Marzec 2020

block content

        ul
            li(style="text-decoration: line-through;")
                | Płonie Australia
            li.strong
                | odmieniamy COVID przez wszystkie przypadki
            li(style="text-decoration: line-through;")
                | Wielka Brytania jeszcze (przez chwile) w UE
            li(style="text-decoration: line-through;")
                | pracujemy z biur



