extends layout/layout.pug

block vars
  - var title = 'marzec'



block title

    | Marzec 2020

block content

    ul.imggrid(style="margin: 0 0 0 20px;")
            li.fragment
                img(src="img/australia.jpeg" alt="australia w ogniu" style="max-height: 220px;filter: grayscale(100%);")
            li.fragment
                img(src="img/brexit.jpeg" alt="brexit" style="max-height: 220px;filter: grayscale(100%);")

            li.fragment
                img(src="img/office.jpeg" alt="office" style="max-height: 220px;filter: grayscale(100%);")
            li.fragment
                 img(src="img/covid-bat-odmiana.jpeg" alt="covid" style="max-height: 220px")


