extends layout/layout.pug

block vars
  - var title = 'podsumowanie my'

block title

    | Podsumowanie

block content
        h3 my
        ul.summary
                    li.fragment
                        | upgrade trwał ~ 6 miesięcy
                    li.fragment
                        | nauczyliśmy się kilku(nastu) usług AWSa
                    li.fragment
                        | poprawiliśmy zaszłości z POC
                    li.fragment
                        | automatyzacja, automatyzacja, automatyzacja
                    li.fragment.strong
                        | mamy pełną kontrole nad aplikacją, więc łatwiej nam dodawać nowe funkcjonalności





