extends layout/layout.pug

block vars
  - var title = 'podsumowanie klient'

block title

    | Podsumowanie

block content
    h3 klient
    ul.summary
        li.strong
            | Instancje G5 (i wszystkie inne)
        li
            | Masa pomysłów na nowe funkcjonalności
        li
            | Szczegółowe dane o kosztach





