extends layout/layout.pug

block vars
  - var title = 'podsumowanie my'

block title

    | Podsumowanie

block content
        h3 my
        ul.summary
                    li.fragment
                        | Upgrade trwał ~6 miesięcy
                    li.fragment
                        | Nauczyliśmy się kilku(nastu) usług AWSa
                    li.fragment
                        | Poprawiliśmy zaszłości z PoC
                    li.fragment
                        | Automatyzacja, automatyzacja, automatyzacja
                    li.fragment.strong
                        | Mamy pełną kontrolę nad aplikacją, więc łatwiej nam dodawać nowe funkcjonalności





