extends layout/layout.pug

block vars
  - var title = 'podsumowanie my'

block title

    | Podsumowanie

block content
        h3 warto:
        ul.imggrid
            li
                ul(style="margin-left:-20px")
                    li
                        | było zbudować pierwszą wersje na gotowym produkcie
                    li
                        | czasem "czelendżować" istniejące rozwiązanie
                    li
                        | pokazać klientowi koszty i nowe perspektywy
            li
                img(src="img/uncle.jpeg" alt="uncle sam" style="max-height: 280px")





