extends layout/layout.pug

block vars
  - var title = 'podsumowanie klienci klienta'

block title
    | Podsumowanie

block content
    h3 użytkownicy
    ul.summary
        li.fragment
            | Czas oczekiwania na aplikacje <1 minutę
        li.fragment
            | Lepiej dopasowane technologie streamingowe (VRED/Pixel Streaming)
        li.fragment
            | Otymalizacja pod kątem urządzeń mobilnych
