extends layout/layout.pug

block vars
  - var title = 'podsumowanie klient'

block title

    | Podsumowanie

block content
    h3 klient
    ul.summary
        li.strong
            | instancje g5 (i wszystkie inne)
        li
            | masa pomysłów na nowe funkcjonalności
        li
            | szczegółowe dane o kosztach





