extends layout/layout.pug

block vars
  - var title = 'podsumowanie klienci klienta'

block title
    | Podsumowanie

block content
    h3 użytkownicy
    ul.summary
        li.fragment
            | czas oczekiwania na aplikacje < 30sekund
        li.fragment
            | lepiej dopasowana technologie streamingowe (VRED/Pixel Streaming)
        li.fragment
            | optymalizacja pod kątem urządzeń mobilnych
