extends layout/layout.pug

block vars
  - var title = 'projekt'



block title
    | Projekt

block content
        ul.imggrid
            li
                ul
                    li
                     | Wiele źródeł danych
                    li
                      | Różne metody autoryzacji/autentykacji
                    li
                      | Różne API
            li
                img(src="img/balagan.png" alt="stam zastany" style="max-height: 245px")

        h3.fragment Nasze zadanie : Posprzątać to
        ul.imggrid.fragment
            li
                ul
                    li
                      | Spójne API
                    li
                      | Jednolite logowanie
                    li
                       | Cachowanie
            li
                img(src="img/porzadek.png" alt="stan docelowy" style="max-height: 245px")





