extends layout/layout.pug

block vars
  - var title = 'projekt'



block title
    | Projekt

block content

        ul
            li.fragment
             | Wiele źródeł danych
            li.fragment
              | Różne metody autoryzacji/autentykacji
            li.fragment
              | Różne API
        h3.fragment Nasze zadanie : Posprzątać to
        ul
            li.fragment
              | spójne API
            li.fragment
              | spójne logowanie
            li.fragment
               | dodać cachowanie



