extends layout/layout.pug

block vars
  - var title = 'nowe-wyzwanie'

block title

    | nowe wyzwanie - HO

block content
        h3
          |  Zdalny Pulpit (RDP)

        ul
            li.fragment
              | out of the box (VPN)
            li.fragment
                | 1 użytkownik 1 komputer - nowy pracownik nowy komputer
            li.fragment
                | a co jak komputer sie wyłączy
            li.fragment
                | nie rozwiązany problem kooperacji


