extends layout/layout.pug

block vars
  - var title = 'nowe-wyzwanie'

block title

    | nowe wyzwanie - HO

block content
        h3
          |  Zdalny Pulpit (RDP)

        ul.imggrid
            li
                ul
                    li
                        | out of the box (VPN)
                    //li
                    li
                        | a co jak komputer sie wyłączy
                    li
                        | 1 użytkownik 1 komputer
                    li
                        | nie rozwiązany problem kooperacji
            li
                img(src="img/rdp.jpeg" alt="rdp login screen" style="max-height: 280px")
                img(src="img/turnedoff.png" alt="windows shutting down" style="max-height: 280px")





