extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | Styczeń 2020

block content

        ul.imggrid(style="margin: 0 0 0 50px;")
            li.fragment
                img(src="img/australia.png" alt="australia w ogniu" style="max-height: 180px")
            li.fragment
                img(src="img/brexit.png" alt="brexit" style="max-height: 180px")

            li.fragment
                 img(src="img/covid-bat.png" alt="covid" style="max-height: 180px")

            li.fragment
                img(src="img/office.png" alt="office" style="max-height: 180px")
            li.fragment(style="grid-column: 1/-1")
                img(src="img/iteratec.png" alt="iteratec logo" style="max-height: 180px; margin-right: 40px")
                img(src="img/new-project.png" alt="new project " style="max-height: 180px")


