extends layout/layout.pug

block vars
  - var title = 'historia'



block title

    | Styczeń 2020

block content

        ul.imggrid(style="margin: -25px 0 0 50px;")
            li.fragment
                img(src="img/australia.jpeg" alt="australia w ogniu" style="max-height: 180px")
            li.fragment
                img(src="img/brexit.jpeg" alt="brexit" style="max-height: 180px")

            li.fragment
                 img(src="img/covid-bat.jpeg" alt="covid" style="max-height: 180px")

            li.fragment
                img(src="img/office.jpeg" alt="office" style="max-height: 180px")
            li.fragment(style="grid-column: 1/-1; display:flex; align-items: center;")
                img(src="img/iteratec.png" alt="iteratec logo" style="max-height: 180px; margin-right: 40px")
                img(src="img/new-project.jpeg" alt="new project " style="max-height: 180px")


block notes
    | Komentarz do slajdu
