extends layout/layout.pug

block vars
  - var title = 'sukces'

block title
    | Sukces

block content
    ul
        li.fragment
            | POC -> Działający produkt
        li.fragment
            | Współdzielenie sesji
        li.fragment
            | Wsparcie dla Gogli VR
        li.fragment
            | Wiele więcej


