extends layout/layout.pug

block vars
  - var title = 'sukces'

block title
    | Sukces

block content

    div.success.opacity
        ul.fragment
            li
                | POC -> Działający produkt
            li
                 |  Zadowoleni użytkownicy
            li
                | Użytkownicy z innych działów firmy
            li
                 | Tylko ~ 2 minuty oczekiwania na aplikacje
            li
                | Narzędzia do kooperacji
            li
                | Wsparcie dla Gogli VR
            li
                | Wiele więcej


