- var transition= "none"
block vars
- var pageId = title+ "-"+  counter++
section.no-title-centered(id= pageId, data-transition=transition)

    block content
 
    aside.notes
        ul
            block notes


