extends ../layout/layout

block vars
  -var title = 'agenda'

block title
        | Agenda
block content         
         img(src="img/colors.jpeg" alt="colors" style="margin: 0 auto")  
                 
           
     
    
    




